.button {
  border: 1px solid var(--light-blue);
  border-radius: 12px;
  padding: 12px 0;
  width: 156px;
  height: 44px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  display: block;
  margin: 0 auto;

  transition: border-color 0.25s ease;
}

.button:hover {
  border-color: var(--dark-blue);
}
