/* CarSpecifications.module.css */

.carSpecifications {
  display: flex;
  flex-direction: column;
}

.specificationsTitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 20px;
  line-height: 120%;

  color: var(--main);
}

.specificationsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.specificationItem {
  font-size: 16px;
  line-height: 125%;

  color: var(--main);

  display: flex;
  align-items: center;

  gap: 8px;
}

.iconSpec {
  flex-shrink: 0;
  /* padding-right: 2px; */
  width: 16px;
  height: 16px;
}
