/* CarConditions.module.css */

.carConditions {
  display: flex;
  flex-direction: column;
}

.conditionsTitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 20px;
  line-height: 120%;

  color: var(--main);
}

.conditionsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.conditionItem {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;

  color: var(--main);

  display: flex;
  align-items: center;

  gap: 8px;
}

.icon {
  flex-shrink: 0;
  /* margin-right: 2px; */
  width: 16px;
  height: 16px;
}
