.carDetailsContainer {
  display: flex;
  gap: 32px;

  justify-content: space-between;

  padding-top: 84px;
  padding-bottom: 176px;

  align-items: flex-start;
}

.imageFormContainer {
  width: 640px;
  flex-shrink: 0;
}

.carImage {
  border-radius: 20px;

  object-fit: cover;
  margin-bottom: 32px;
}

.carInfo {
  /* flex: 1; */

  display: flex;
  flex-direction: column;

  max-width: 528px;
  border-radius: 16px;
  padding: 32px 24px;
  background-color: var(--white);
}

.divider {
  width: 100%;
  height: 1px;

  margin: 40px 0;

  background-color: var(--gray-light);
}
