.loadingPage {
  min-height: calc(100vh - 68px);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 40px 20px;

  background-color: var(--background);
}

.loadingCard {
  width: 100%;
  max-width: 420px;

  padding: 56px 40px;

  border-radius: 24px;

  background-color: var(--white);

  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.04);

  text-align: center;
}

.title {
  margin-top: 24px;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 32px;
  line-height: 110%;

  color: var(--main);
}

.description {
  font-size: 16px;
  line-height: 150%;

  color: var(--gray);
}
